
    /* Add styles for the enhanced search bar */
    .search-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-bar {
        width: 400px;
        padding: 10px;
        border: none;
        border-radius: 25px;
        outline: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .search-button {
        padding: 10px 15px;
        margin-left: 5px;
        background-color: #eb965d;
        color: #fff;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .search-button:hover {
        background-color: #c97500;
    }
